@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
   --title-color: #101828;
   --text-color: #667085;
   --main-color: #8E2424
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Inter';
   padding: 0 4rem;
}

p {
   color: var(--text-color);
   font-weight: 400;
}

.page-header {
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
   grid-template-rows: repeat(1, 4rem);
}

.page-header div {
   display: flex;
   /* border: 1px solid #000; */
}

.page-header div:nth-child(1) {
   align-items: center;
   justify-content: flex-start;
}

.page-header div:nth-child(2) {
   align-items: center;
   justify-content: flex-end;
}

.page-header .header-logo img {
   width: 9rem;
}

.page-header .header-navigation ul {
   display: flex; 
   gap: 32px;
   list-style: none;
   font-size: 0.9em;
   /* line-height: 24px; */
}

.page-header .header-navigation ul li a {
   text-decoration: none;
   color: var(--text-color);
}

.page-header .header-button-action {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: .5rem;
}

.page-header .header-button-action button {
   padding: 10px 18px;
   border: none;
   color: var(--text-color);
}

.page-header .header-button-action #login {
   background-color: transparent;
}

.page-header .header-button-action #register {
   background-color: var(--main-color);
   border-radius: 5px;
   color: #fff;
}

.page-header .header-toolbar {
   display: none;
}

.page-header .header-toolbar .header-toolbar-itens {
   display: none;
}

.container {
   display: grid;
   grid-template-rows: repeat(3, calc(100vh));
   text-overflow: clip;
}

.container .section-aboutUs {
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 5rem;
   margin-top: 3rem;
}

.container .section-aboutUs .aboutUs {
   width: 70%;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.container .section-aboutUs .aboutUs span {
   color: var(--main-color);
   margin-bottom: 1.5em; 
   font-size: 1rem;
}

.container .section-aboutUs .aboutUs h1 {
   color: var(--title-color);
   font-size: 2.5em;
   margin-bottom: .6em;
}


.container .section-aboutUs .aboutUs p {
   margin-bottom: 1.5em;
   font-size: 1em;
} 

.container .section-aboutUs .metric {
   display: flex;
   justify-content: center;
   gap: .5rem;
}

.container .section-aboutUs .metric .metric-item {
   max-width: 280px;
   min-width: 150px;
   display: inherit;
   flex-direction: column;
   justify-content: flex-start;
   gap: .6rem;
}

.container .section-aboutUs .metric .metric-item span {
   color: var(--main-color);
   font-size: 2.4em;
   font-weight: 600;
}

.container .section-aboutUs .metric .metric-item span + p {
   color: var(--title-color)
}

.container  .section-jobs {
   text-align: center;
   margin-top: 2rem;
}

.container .section-jobs .jobs-status span {
   color: var(--main-color);
   padding: 4px 12px;
   border-radius: 1rem;
   background-color: rgba(142, 36, 36, 0.05);
}

.container .section-jobs .jobs-description h2 {
   margin: 2rem 0;
}

.container .section-jobs .jobs-description p {
   margin-bottom: 4rem;
} 

.container .section-jobs .jobs-ilustration img {
   width: 100%;
}






/* Responsive */
@media screen and (max-width: 768px) {

   html {
      font-size: 90%;
   }

   body {
      padding: 0 2rem;
   }

   .page-header {
      grid-template-columns: 2fr 3fr 1fr;
   }


   .page-header .header-navigation {
      display: none;
   }

   .page-header div:nth-child(3) {
      display: flex;
      justify-content: flex-end;
   }

   .page-header .header-toolbar {
      display: flex;
      align-items: center;
      justify-content: flex-end;
   }

   .container .section-aboutUs {
      gap: 0;
   }

   .container .section-aboutUs .metric {
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 1rem; 
      margin-top: 7rem;
   }

   .container .section-aboutUs .metric .metric-item {
      width: 150px;
      font-size: 90%;
   }
}

@media screen and (max-width: 701px) {
   .container .section-jobs {
      margin-top: 16rem;
   }
}

@media screen and (max-width: 425px) {

   body{
      padding: 0 1rem;
   }

   .page-header {
      margin-bottom: 4rem;
      grid-template-columns: 1fr 1fr;
   }

   .page-header .header-logo {
      grid-column: 1 / 3;
   }

   .page-header .header-toolbar {
      justify-content: flex-end;
   }

   .container .section-aboutUs .aboutUs {
      width: 90%;
   }

   .container .section-aboutUs .aboutUs span {
      margin-bottom: 1em;
      font-size: 1.5rem;
   }

   .container .section-aboutUs .aboutUs h1 {
      font-size: 2em;
   }

   .container .section-aboutUs .metric {
      text-align: left;
      margin-top: 2rem;
   }

   .container .section-aboutUs .metric .metric-item {
      width: 100px;
      margin: 1rem 0;
   }
}

@media screen and (max-width: 343px) {
   .container .section-jobs {
      margin-top: 40rem;
   }
}